@model TimeTracking.Core.Models.PagedResult<TimeTracking.Core.Models.Project>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Projects";
}
<link href="~/Content/css/employee.css" rel="stylesheet" />

<script src="~/Scripts/employee.js"></script>

<h2 class="page-title">Projects</h2>
<table class="table table-employee">

    <tr>
        <th>ID</th>
        <th>Project Code</th>
        <th>Name</th>
        <th>Status</th>
    </tr>

    @foreach (var p in Model.Items)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.ProjectCode</td>
            <td>@p.Name</td>
            <td>@(p.IsActive ? "Active" : "Inactive")</td>
        </tr>
    }

</table>
<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalRecords, "Index", new { controller = "Project" }, "Default")
</div>
