<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Time Tracking</title>

    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />

    @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />*@
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script>
        window.apiBaseUrl = '@System.Configuration.ConfigurationManager.AppSettings["ApiBaseUrl"]';
    </script>

    
</head>

<body style="padding-top: unset !important">
    <div id="ajaxOverlay">
        <div class="overlay-bg"></div>
        <div class="overlay-content">
            <div class="spinner" aria-hidden="true"></div>
            <div class="overlay-text">Saving...</div>
        </div>
    </div>

    <div class="header">
        <div class="logo">
            Time Tracking System
        </div>
        <br /><br />
              <ul class="menu">
                  <li>
                      @Html.ActionLink("Employee List", "Index", "Employee")
                  </li>

                  <li>
                      @Html.ActionLink("Project List", "Index", "Project")
                  </li>

                  <li>
                      @Html.ActionLink("Time Entries", "Index", "TimeEntry")
                  </li>

                  <li>
                      @Html.ActionLink("Add Time Entries", "Create", "TimeEntry")
                  </li>
                  <li>
                      @Html.ActionLink("Employee Weekly Summary", "EmployeeWeeklyReport", "TimeEntry")
                  </li>
                  <li>
                      @Html.ActionLink("Project Weekly Summary", "ProjectWeeklyReport", "TimeEntry")
                  </li>
              </ul>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>